<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>ChatJS</h1>
        <hr>
        <div id="chat">

        </div><br>
        <label>Name:</label>
        <input type="text" name="" id="username" class="form-control"><br>
        <label>Msg:</label>
        <input type="text" id="msg" maxlength="500" class="form-control">
        <div class="d-grid gap-2">
            <button class="btn btn-primary" type="button" onclick="send()">Send</button>
          </div>
    </div>
</body>
<style>
    #chat{
        max-height: 500px;
        min-height: 500px;
        background-color: azure;
        overflow-y: scroll;
    }
</style>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js" integrity="sha384-/KNQL8Nu5gCHLqwqfQjA689Hhoqgi2S84SNUxC3roTe4EhJ9AfLkp8QiQcU8AMzI" crossorigin="anonymous"></script>

<script>
    var adressBase = 'http://localhost:8080';

    var socket = io(adressBase);


    //socket.on
    socket.on('disconnect', () => {
        console.log('disconnect');
    });

    socket.on('showMsg', (data) => {
        var chat = document.getElementById('chat');
        var p = document.createElement('p');
        p.innerHTML = data.username + ': ' + data.msg;
        chat.append(p);
    });

    //functions
    function send(){
        var msgField = document.getElementById('msg');
        var usernameField = document.getElementById('username');

        var msg = msgField.value;
        var username = usernameField.value;

        socket.emit('msg', {msg: msg, username: username});
    }
</script>
</html>