<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>ChatJS</h1>
        <hr>
        <div id="chat">

        </div><br>
        <input type="text" id="msg"><br>
        <input type="text" name="" id="username">
        <button type="submit">Send</button>
            <tex></tex>
        </input>
    </div>
</body>
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js" integrity="sha384-/KNQL8Nu5gCHLqwqfQjA689Hhoqgi2S84SNUxC3roTe4EhJ9AfLkp8QiQcU8AMzI" crossorigin="anonymous"></script>

<script>
    var adressBase = 'http://localhost:8080';

    var socket = io(adressBase);

    socket.on('disconnect', () => {
        console.log('disconnect');
    });
</script>
</html>