<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>ChatJS</h1>
        <hr>
        <div id="chat">

        </div><br>
        <label>Name:</label>
        <input type="text" name="" id="username"><br>
        <label>Msg:</label>
        <input type="text" id="msg" maxlength="500">
        <button type="submit" onclick="send()">Send</button>
    </div>
</body>
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js" integrity="sha384-/KNQL8Nu5gCHLqwqfQjA689Hhoqgi2S84SNUxC3roTe4EhJ9AfLkp8QiQcU8AMzI" crossorigin="anonymous"></script>

<script>
    var adressBase = 'http://localhost:8080';

    var socket = io(adressBase);


    //socket.on
    socket.on('disconnect', () => {
        console.log('disconnect');
    });

    socket.on('showMsg', (data) => {
        var chat = document.getElementById('chat');
        var p = document.createElement('p');
        p.innerHTML = data.username + ': ' + data.msg;
        chat.append(p);
    });

    //functions
    function send(){
        var msgField = document.getElementById('msg');
        var usernameField = document.getElementById('username');

        var msg = msgField.value;
        var username = usernameField.value;

        socket.emit('msg', {msg: msg, username: username});
    }
</script>
</html>